{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{{user}}</h1>
    <h2>{{user.email}}</h2>
    <h2>{{ user.profile.image.url }}</h2>
    <div class="content-section">
      <div class="media">
        <img class="rounded-cirle account-img" src="{{ user.profile.image.url }}" alt="img">
        <div class="media-body">
          <h2 class='account-heading'>{{user}}</h2>
          <p class="text-secondary">{{user.email}}</p>
        </div>
      </div>

    </div>
    <ul>

      <ul>

        {% for review in user.review_set.all %}
              <!-- <li>{{review}} <b> rating : {{review.rating}} stars</b> by <a href="{% url 'accounts:user-profile' pk=review.reviewer.pk %}">{{review.reviewer}}</a>  </li> -->
          <div class="col-md-10">
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ review.reviewer.profile.image.url }}" >
              <div class="media-body">
                <div class="article-metadata">
                  <!-- <a class="mr-2" href="#">by reviewer</a> -->
                  <!-- <small class="text-muted">number of reviews : {{ shop.get_number_of_reviews }}</small> -->

                  <h4><a href="{% url 'shops:shop-detail' review.reviewed_shop.id %}">{{ review.reviewed_shop }} </a> was rated {{ review.rating}} stars by <a class="mr-2" href="{% url 'accounts:user-profile' pk=review.reviewer.pk %}">{{review.reviewer}}</a></h4>

                 </div>
                 <p style="font-size:130%;" class="article-content"> {{ review }} </p>
                 
              </div>
            </article>

          </div>
        {% endfor %}

      </ul>
    </ul>

</div>
{% endblock %}
