{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'reviewweb/css/master.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>

  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="content-section">

      <form class="" action="index.html" method="post" id="login_form">
        {% csrf_token %}
        <div class="container">
          <input type="text" name="username" value="" id="username">
          <label for="name">enter your username</label>
          <input type="password" name="password" value="" id="password">
          <label for="password">password</label>
        </div>
        <div class="container">
          <button type="button" name="button" id="modal-login">Submit</button>
          <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
          <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>

        </div>
      </form>
    </div>

  </div>
</div>
</div>


    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">Tajrebtak</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
            <!-- search bar and handler -->
            <form class="form-inline mx-auto" method="GET" action="{% url 'shops:all' %}">
              <div  class="md-form my-0">
                <input class="form-control" id="batata" aria-label="Search" name='q' type="text" placeholder="Search posts">
                <input class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit" value="Search">

              </div>
            </form>

          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mx-auto">
              <!-- <a class="nav-item nav-link" href="#">About</a> -->

            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
              <!-- Search form -->
              <!-- <form method="GET" action="{% url 'shops:all' %}">
                <input name='q' type="text" placeholder="Search posts">
                <input type="submit" value="Search">
              </form> -->


                <a class="nav-item nav-link" href="{% url 'shops:all' %}">Shops</a>
                <a class="nav-item nav-link" href="{% url 'accounts:user-detail' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
              {% else %}
              <!-- Search form -->


                <a class="nav-item nav-link" href="{% url 'shops:all' %}">Shops</a>
                <a class="nav-item nav-link" data-toggle="modal" data-target="#modalLoginForm">Login</a>
                <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      {% if is_paginated %}

        {% if page_obj.has_previous %}
          <!-- <a class="btn btn-outline-info mb-4" href="?page=1">First</a> -->
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <!-- <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> -->
        {% endif %}

      {% endif %}
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script>
        //
        // $(document).ready(function(){
        //     $("#batata").autocomplete({
        //         source: "/ajax_calls/search/",
        //         minLength: 2,
        //         open: function(){
        //             setTimeout(function () {
        //                 $('.ui-autocomplete').css('z-index', 99);
        //             }, 9999);
        //         }
        //       });
        //       $("#defaultForm-email").keyup(function(){
        //         console.log($(this).val());
        //       })
        //     $("#modal-login").click(function(){
        //       var user = $("#username").val();
        //       var pass = $("#password").val();
        //       console.log(user);
        //       console.log(pass);
        //       // these functions are for the csrftoken for the post request
        //       var csrftoken = Cookies.get('csrftoken');
        //       function csrfSafeMethod(method) {
        //         // these HTTP methods do not require CSRF protection
        //           return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        //         }
        //         $.ajaxSetup({
        //         beforeSend: function(xhr, settings) {
        //             if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        //                 xhr.setRequestHeader("X-CSRFToken", csrftoken);
        //             }
        //         }
        //         });
        //       $.ajax({
        //           type:"POST",
        //           url: '/login/',
        //           contentType: 'application/json',
        //           data: {
        //           username: user ,
        //           password: pass
        //           }
        //         })
        //     });
        //
        // });
         $("#modal-login").click(function(){
           console.log( $('#login_form').serialize())
           $.ajax({
             type:"POST",
              url: '/login/',
              data: $('#login_form').serialize(),
              success: function(response){
           // do something with response
           console.log(response['loggedin'])
           if(response['loggedin']){
             location.href = ""
             console.log("WORKS BITCH");
           }

        }
   });
         });

</script>
</body>
</html>
