
{% extends "shops/shop_base.html" %}
{% block shop_content %}
<!-- make the ajax requests -->

<div class="col-md-12">
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ shop.image.url }}" alt="profile ">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="{{ shop.get_absolute_url }}">{{ shop }}</a>
				<small class="text-muted">number of reviews : {{ shop.get_number_of_reviews }}</small>
			</div>
			<h2><a class="article-title" href="#">Reviews :{{shop.get_cumulative_review}}</a></h2>
			<p class="article-content">Info : {{ shop.description }}</p>
		</div>
	</article>

</div>
<div class="col-md-12">
	{% if shop.review_st.all == 0 %}
	<h2>No reviews on this shop yet!</h2>

	{% else %}
	<form id='review-form' method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Write your <!-- REVIEW:  --></label>
			<div class="container">
				<textarea class="form-control" id="review" rows="3"></textarea>
			</div>
			<div class="star-rating">
				<input class ="star" type="radio" id="5-stars" name="rating" value="5" />
				<label for="5-stars" class="star">&bigstar;</label>
				<input class ="star" type="radio" id="4-stars" name="rating" value="4" />
				<label for="4-stars" class="star">&bigstar;</label>
				<input class ="star" type="radio" id="3-stars" name="rating" value="3" />
				<label for="3-stars" class="star">&bigstar;</label>
				<input class ="star" type="radio" id="2-stars" name="rating" value="2" />
				<label for="2-stars" class="star">&bigstar;</label>
				<input class ="star" type="radio" id="1-star" name="rating" value="1" />
				<label for="1-star" class="star">&bigstar;</label>
			</div>
			<button type="submit" name="button" id="review-button">Add review</button>
		</div>
		{% if user.is_authenticated %}
		{% else %}
				<script type="text/javascript">
					$('#review').keyup(function(){
						$('#modalLoginForm').modal();
					});
					$('.comment-input').keyup(function(){
						console.log("batata");
						$('#modalLoginForm').modal();
					});
				</script>
		{% endif %}

</form>
		<h2>Reviews:</h2>
		<ul>
			{% for review in review_list %}
						<!-- <li>{{review}} <b> rating : {{review.rating}} stars</b> by <a href="{% url 'accounts:user-profile' pk=review.reviewer.pk %}">{{review.reviewer}}</a>  </li> -->
				<div class="col-md-12">
					<article class="media content-section">
						<img class="rounded-circle article-img" src="{{ review.reviewer.profile.image.url }}" >
						<div class="media-body">
							<div class="article-metadata">
								<!-- <a class="mr-2" href="#">by reviewer</a> -->
								<!-- <small class="text-muted">number of reviews : {{ shop.get_number_of_reviews }}</small> -->

								<h4>Rated {{ review.rating}} stars by <a class="mr-2" href="{% url 'accounts:user-profile' pk=review.reviewer.pk %}">{{review.reviewer}}</a></h4>
								<small>{{ review.created_at|date:"d/m/Y"  }}</small>
							 </div>
							 <p style="font-size:130%;" class="article-content">	{{ review }} </p>
							 <hr>
										{% for comment in review.comments.all %}
										    <div class="comment">
										        <div class="date">{{ comment.created_date }}</div>
										        <strong>{{ comment.author }}</strong>
														{% if comment.author.id == review.reviewed_shop.shopowner_set.all.first.id %}
														<font color="red">[Shop owner]</font>
														{% endif%}
										        <p>{{ comment.text|linebreaks }}</p>
										    </div>

										    <p>No comments here yet :(</p>
												{% empty %}
										{% endfor %}
										<form  method="post">
											{% csrf_token %}
											 <input class="comment-input" type="text" name="comment" id="input{{review.id}}">
											 <button type="button" class="reviewbutton" id="{{ review.id}}" name="button">Submit</button>

										 </form>
							 {% if review.reviewer == user %}
								 <div>
									 <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'shops:review-delete' review.id %}">Delete</a>
								 </div>
							 {% endif %}
						</div>
					</article>
				</div>
			{% endfor %}

		</ul>
		<button type="button" name="button"><a href="{% url 'shops:review-shop' pk=shop.get_absolute_url %}">Write a review</a></button>

	{% endif %}
</div>


<script type="text/javascript">
	$('.reviewbutton').on('click', function () {

		console.log("yaaayyyy");
		console.log($(this).attr('id'));
		var reviewid =$(this).attr('id');
		var id = '#input'+$(this).attr('id');
		var text = $(id).val();
		var csrftoken = Cookies.get('csrftoken');
		var submit = true;
		console.log(text);
		if(text==""){
			alert("write a comment first");
			submit =false;
		}
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
			beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
			}
			});
			if(submit==true){
				$.ajax({
					type:"POST",
					 url: '/comment/',

					 data: {
								'text':text,
								'review_id':reviewid ,
						},
						dataType: 'json',
						success: function(response){
				 // do something with response
				 console.log(response['loggedin'])
				 if(response['loggedin']){
					 location.href = ""
					 console.log("WORKS BITCH");
				 }

				}

		});
			}

	});
	$('#review-form').submit(function(){
		console.log('you submitted a review');
		var csrftoken = Cookies.get('csrftoken');
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
			beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
			}
			});
			var review_text = $("#review").val()
			var reviewed_shop = {{ shop.id }}
			var rating = $(".star:checked").val();
			var submit = true;
			if(review_text ==""){
				alert("fill the text review");
				submit =false;
			}
			if(rating==undefined ){
				alert("fill the rating");
				submit=false;
			}
			if(submit==true){
				$.ajax({
					type:"POST",
					 url: '/review/',

					 data: {
								'review_text':review_text,
								'reviewed_shop':reviewed_shop ,
								'rating':rating,
						},
						dataType: 'json',
						success: function(response){
				 // do something with response
				 // console.log(response['loggedin'])
				if(response['loggedin']){
					location.href = ""
					console.log("WORKS BITCH");
				}

				}

		});
			}

		});

	$('#comment-submit').click(function(){
		console.log($('#comment-text').val());
		console.log($('#review-id').text());
	});
	$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
{% endblock %}
