{% extends 'shops/shop_base.html' %}
{% block preshop %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome back
  		</h2>

    {% endif %}
			<h2>Shops</h2>

			<p>Welcome to the Shops Page! Select a Group with a shared interest!</p>
	</div>
	{% if user.is_authenticated %}
	<a href="#" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Create New Group!</a>
	{% endif %}
</div>
{% endblock %}

{% block shop_content %}
<div class="col-md-8">
	<div>
		<ul>
			<h1>Shops List</h1>
			{% for shop in object_list %}

					<li><a href="{{ shop.get_absolute_url }}">{{shop}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
