{% extends 'shops/shop_base.html' %}

{% block shop_content %}
<article class="media content-section">
  <div class="media-body">
    <h1>Find and Review Online shops in Lebanon</h1>
  </div>
</article>
{% for shop in object_list %}
<div class="container">
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ shop.image.url }}">
    <div class="media-body">
      <h2><a class="article-title" href="{% url 'shops:shop-detail' shop.id %}">{{shop}}</a></h2>

      <div class="article-metadata">
        <h6>Rating: {{shop.get_cumulative_review}}</h3>
        <small class="text-muted">{{shop.get_number_of_reviews}} reviews</small>
      </div>
      <p class="article-content">{{shop.description}}</p>
    </div>
  </article>
</div>

{% endfor %}
{% endblock %}
